.ultimate-div {
	 background-color: white;
	 margin: 0px;
	 border: 0px;
	 padding: 30px;
	 display: flex;
	 flex-wrap: nowrap;
	 flex-direction: row; 
	 padding-left: 20px;
	 justify-content: space-between;
}
.name-div{
	 margin-right: 50px;
	 width: 400px;
}
.nav-div{
	 width: 650px;
	 display: flex;
	 justify-content: space-between;
	 align-self: right-side;
	 margin-right: 30px;
}
.nav-element{
	 display: inline-block;
}
.font-type-a {
	 font-family: "rubik", serif;
}
body{
	 background: #3f5bff;
	 margin: 0;
}
a{
     text-decoration: none;
     color: black;
 }

nav{
	 position: relative;
	 align-content: right;
     width           : 100%;
}
.main-part {
	 margin: 30px;
	 padding: 10px;
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: colomn; 
	 justify-content: space-around;
}